<section>
  <div>
    <h3 class="mt-2" style="text-align: center;">GIFT NEEDED MEMBERS</h3>
  </div>
  <div class="container mt-3">
    <table class="table">
      <thead>
        <tr>

          <th scope="col">Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Mobile Number</th>
          <th scope="col">Monthly Payment</th>
          <th scope="col">Gift Amount</th>       
          <th scope="col">Gifted Date</th>
          <th scope="col">Payement Status</th>
          
          <th scope="col"></th>


        </tr>
      </thead>
      <tbody>
        {{#each members}}
        <tr>

          <td>{{this.fname}}</td>
          <td>{{this.Lname}}</td>
          <td>{{this.Mobile}}</td>
          <td>{{this.payment}}</td>
          <td>{{this.payable}}</td>
          <td style="color:blue;">{{this.date}}</td>
          <td>{{this.payementstatus}}</td>
          <td><a href="/admin/give-gift-payement/{{this._id}}" class="btn btn-success">Make Payement</a></td>
          

        </tr>
        {{/each}}

      </tbody>
    </table>

  </div>
</section>